:root {
  --color-brand-light: #819b57;
  --color-brand-dark: #465929;
  --color-primary-light: #faf4ea;
  --color-primary-dark: #31261a;
}

ul {
  list-style-type: none;
}

body {
  color: var(--color-primary-dark);
}

.button {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
  border: 2px solid var(--color-brand-light);
  border-radius: 8px;
  cursor: pointer;
}

.button:hover {
  background-color: transparent;
  color: var(--color-brand-dark);
  border: 2px solid var(--color-brand-light);
}
.link {
  color: var(--color-primary-light);
}
.link:hover {
  color: var(--color-brand-light);
}
.hero-title {
  color: var(--color-primary-light);
}
.hero-title .accent {
  color: var(--color-brand-light);
}
.advantages-list li {
  background-color: var(--color-brand-light);
  color: var(--color-primary-light);
}
.section-title {
  color: var(--color-primary-dark);
}
.section-title .accent {
  color: var(--color-brand-dark);
}
